.container {
  height: 2000px;
}

.sidebar {
  float: right;
  width: 25%;
  background-color: grey;
  height: 100%;
  margin-left: 10px;
}
.sidebar h2 {
    text-align: center;
}

.allelse {
  margin-left: 10px;
}

.first {
  float: right;
  height 150px;
  margin: 10px;
}

.second {
  float: left;
  height: 150px;
  margin: 10px;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: blue;
  clear: both;
}
